# Q/A with OpenAI and Trino

## Define Database Connection
This is utilizing an AirBnB data set from the [toolkit use case](https://github.com/msantana09/data-engineering-toolkit/blob/main/UseCase.md)

In [19]:
from langchain.sql_database import SQLDatabase
from sqlalchemy import create_engine

URI = 'trino://trino@localhost:8082/lakehouse/kaggle_airbnb'
OPENAI_MODEL = "gpt-3.5-turbo"

engine = create_engine(URI)
db =SQLDatabase(engine=engine )

/Users/miguel/Documents/jobs/fun_with_llms/.venv/lib/python3.9/site-packages/langchain_community/utilities/sql_database.py:111: SAWarning: index key 'record_count' was not located in columns for table 'listings'
  self._metadata.reflect(
/Users/miguel/Documents/jobs/fun_with_llms/.venv/lib/python3.9/site-packages/langchain_community/utilities/sql_database.py:111: SAWarning: index key 'file_count' was not located in columns for table 'listings'
  self._metadata.reflect(
/Users/miguel/Documents/jobs/fun_with_llms/.venv/lib/python3.9/site-packages/langchain_community/utilities/sql_database.py:111: SAWarning: index key 'total_size' was not located in columns for table 'listings'
  self._metadata.reflect(
/Users/miguel/Documents/jobs/fun_with_llms/.venv/lib/python3.9/site-packages/langchain_community/utilities/sql_database.py:111: SAWarning: index key 'data' was not located in columns for table 'listings'
  self._metadata.reflect(
/Users/miguel/Documents/jobs/fun_with_llms/.venv/lib/python3.9/site-packages/langchain_community/utilities/sql_database.py:111: SAWarning: index key 'record_count' was not located in columns for table 'reviews'
  self._metadata.reflect(
/Users/miguel/Documents/jobs/fun_with_llms/.venv/lib/python3.9/site-packages/langchain_community/utilities/sql_database.py:111: SAWarning: index key 'file_count' was not located in columns for table 'reviews'
  self._metadata.reflect(
/Users/miguel/Documents/jobs/fun_with_llms/.venv/lib/python3.9/site-packages/langchain_community/utilities/sql_database.py:111: SAWarning: index key 'total_size' was not located in columns for table 'reviews'
  self._metadata.reflect(
/Users/miguel/Documents/jobs/fun_with_llms/.venv/lib/python3.9/site-packages/langchain_community/utilities/sql_database.py:111: SAWarning: index key 'data' was not located in columns for table 'reviews'
  self._metadata.reflect(

### Define LLM and SQL Agent

In [20]:
from langchain_community.agent_toolkits import create_sql_agent
from langchain_openai import ChatOpenAI

llm = ChatOpenAI(model=OPENAI_MODEL, temperature=0)
sql_agent = create_sql_agent(llm, db=db, agent_type="openai-tools", verbose=True)

### Test it out

In [21]:
response = sql_agent.invoke(
    "Which neighborhood has the best reviews?"
)
print(response['output'])

> Entering new AgentExecutor chain...

Invoking: `sql_db_list_tables` with `{}`


listings, reviews
Invoking: `sql_db_schema` with `reviews`



CREATE TABLE reviews (
	listing_id INTEGER,
	id INTEGER,
	date DATE,
	reviewer_id INTEGER,
	reviewer_name VARCHAR,
	comments VARCHAR
)

/*
3 rows from reviews table:
listing_id	id	date	reviewer_id	reviewer_name	comments
7202016	38917982	2015-07-19	28943674	Bianca	Cute and cozy place. Perfect location to everything!
7202016	39087409	2015-07-20	32440555	Frank	Kelly has a great room in a very central location.
Beautiful building , architecture and a style t
7202016	39820030	2015-07-26	37722850	Ian	Very spacious apartment, and in a great neighborhood.  This is the kind of apartment I wish I had!

*/
Invoking: `sql_db_query` with `SELECT listing_id, AVG(rating) AS avg_rating FROM reviews GROUP BY listing_id ORDER BY avg_rating DESC LIMIT 10`


Error: (trino.exceptions.TrinoUserError) TrinoUserError(type=USER_ERROR, name=COLUMN_NOT_FOUND, message="line 1:24: Column 'rating' cannot be resolved", query_id=20240124_215458_00269_uqjme)
[SQL: SELECT listing_id, AVG(rating) AS avg_rating FROM reviews GROUP BY listing_id ORDER BY avg_rating DESC LIMIT 10]
(Background on this error at: https://sqlalche.me/e/20/f405)
Invoking: `sql_db_schema` with `listings`



CREATE TABLE listings (
	id INTEGER,
	name VARCHAR,
	summary VARCHAR,
	space VARCHAR,
	description VARCHAR,
	experiences_offered VARCHAR,
	neighborhood_overview VARCHAR,
	notes VARCHAR,
	transit VARCHAR,
	host_id INTEGER,
	host_name VARCHAR,
	host_since DATE,
	host_location VARCHAR,
	host_about VARCHAR,
	host_response_time VARCHAR,
	host_response_rate VARCHAR,
	host_acceptance_rate VARCHAR,
	host_is_superhost BOOLEAN,
	host_neighbourhood VARCHAR,
	host_listings_count INTEGER,
	host_total_listings_count INTEGER,
	host_verifications VARCHAR,
	host_has_profile_pic BOOLEAN,
	host_identity_verified BOOLEAN,
	street VARCHAR,
	neighbourhood VARCHAR,
	neighbourhood_cleansed VARCHAR,
	neighbourhood_group_cleansed VARCHAR,
	city VARCHAR,
	state VARCHAR,
	zipcode VARCHAR,
	market VARCHAR,
	smart_location VARCHAR,
	country_code VARCHAR,
	country VARCHAR,
	latitude DOUBLE,
	longitude DOUBLE,
	is_location_exact BOOLEAN,
	property_type VARCHAR,
	room_type VARCHAR,
	accommodates INTEGER,
	bathrooms DOUBLE,
	bedrooms INTEGER,
	beds INTEGER,
	bed_type VARCHAR,
	amenities VARCHAR,
	square_feet INTEGER,
	price DOUBLE,
	weekly_price DOUBLE,
	monthly_price DOUBLE,
	security_deposit DOUBLE,
	cleaning_fee DOUBLE,
	guests_included INTEGER,
	extra_people DOUBLE,
	minimum_nights INTEGER,
	maximum_nights INTEGER,
	calendar_updated VARCHAR,
	has_availability BOOLEAN,
	availability_30 INTEGER,
	availability_60 INTEGER,
	availability_90 INTEGER,
	availability_365 INTEGER,
	number_of_reviews INTEGER,
	first_review DATE,
	last_review DATE,
	review_scores_rating INTEGER,
	review_scores_accuracy INTEGER,
	review_scores_cleanliness INTEGER,
	review_scores_checkin INTEGER,
	review_scores_communication INTEGER,
	review_scores_location INTEGER,
	review_scores_value INTEGER,
	jurisdiction_names VARCHAR,
	instant_bookable BOOLEAN,
	cancellation_policy VARCHAR,
	require_guest_profile_picture BOOLEAN,
	require_guest_phone_verification BOOLEAN,
	calculated_host_listings_count INTEGER,
	reviews_per_month DOUBLE
)

/*
3 rows from listings table:
id	name	summary	space	description	experiences_offered	neighborhood_overview	notes	transit	host_id	host_name	host_since	host_location	host_about	host_response_time	host_response_rate	host_acceptance_rate	host_is_superhost	host_neighbourhood	host_listings_count	host_total_listings_count	host_verifications	host_has_profile_pic	host_identity_verified	street	neighbourhood	neighbourhood_cleansed	neighbourhood_group_cleansed	city	state	zipcode	market	smart_location	country_code	country	latitude	longitude	is_location_exact	property_type	room_type	accommodates	bathrooms	bedrooms	beds	bed_type	amenities	square_feet	price	weekly_price	monthly_price	security_deposit	cleaning_fee	guests_included	extra_people	minimum_nights	maximum_nights	calendar_updated	has_availability	availability_30	availability_60	availability_90	availability_365	number_of_reviews	first_review	last_review	review_scores_rating	review_scores_accuracy	review_scores_cleanliness	review_scores_checkin	review_scores_communication	review_scores_location	review_scores_value	jurisdiction_names	instant_bookable	cancellation_policy	require_guest_profile_picture	require_guest_phone_verification	calculated_host_listings_count	reviews_per_month
241032	Stylish Queen Anne Apartment	None	Make your self at home in this charming one-bedroom apartment, centrally-located on the west side of	Make your self at home in this charming one-bedroom apartment, centrally-located on the west side of	none	None	None	None	956883	Maija	2011-08-11	Seattle, Washington, United States	I am an artist, interior designer, and run a small landscape business. My life revolves around beaut	within a few hours	96%	100%	False	Queen Anne	3	3	['email', 'phone', 'reviews', 'kba']	True	True	Gilman Dr W, Seattle, WA 98119, United States	Queen Anne	West Queen Anne	Queen Anne	Seattle	WA	98119	Seattle	Seattle, WA	US	United States	47.636289038357184	-122.37102519997765	True	Apartment	Entire home/apt	4	1.0	1	1	Real Bed	{TV,"Cable TV",Internet,"Wireless Internet","Air Conditioning",Kitchen,Heating,"Family/Kid Friendly"	None	85.0	None	None	None	None	2	5.0	1	365	4 weeks ago	True	14	41	71	346	207	2011-11-01	2016-01-02	95	10	10	10	10	9	10	WASHINGTON	False	moderate	False	False	2	4.07
953595	Bright & Airy Queen Anne Apartment	Chemically sensitive? We've removed the irritants triggering allergy or asthma attacks, like carpeti	Beautiful, hypoallergenic apartment in an extremely safe, quiet and pedestrian-friendly section of Q	Chemically sensitive? We've removed the irritants triggering allergy or asthma attacks, like carpeti	none	Queen Anne is a wonderful, truly functional village.  You can walk everywhere... for coffee, for gro	What's up with the free pillows?  Our home was renovated and restored with health & safety in mind, 	Convenient bus stops are just down the block, if you're headed downtown or further afield to explore	5177328	Andrea	2013-02-21	Seattle, Washington, United States	Living east coast/left coast/overseas.  Time is short & it's a big world.	within an hour	98%	100%	True	Queen Anne	6	6	['email', 'phone', 'facebook', 'linkedin', 'reviews', 'jumio']	True	True	7th Avenue West, Seattle, WA 98119, United States	Queen Anne	West Queen Anne	Queen Anne	Seattle	WA	98119	Seattle	Seattle, WA	US	United States	47.63912312136253	-122.36566646439582	True	Apartment	Entire home/apt	4	1.0	1	1	Real Bed	{TV,Internet,"Wireless Internet",Kitchen,"Free Parking on Premises","Buzzer/Wireless Intercom",Heati	None	150.0	1000.0	3000.0	100.0	40.0	1	0.0	2	90	today	True	13	13	16	291	43	2013-08-19	2015-12-29	96	10	10	10	10	10	10	WASHINGTON	False	strict	True	True	6	1.48
3308979	New Modern House-Amazing water view	New modern house built in 2013.  Spectacular sunset/water views and light, rooftop deck and lounge a	Our house is modern, light and fresh with a warm simple palette accented with barnwood, steel and co	New modern house built in 2013.  Spectacular sunset/water views and light, rooftop deck and lounge a	none	Upper Queen Anne is a charming neighborhood full of a mix of beautifully maintained, turn-of-the-cen	Our house is located just 5 short blocks to Top Pot Doughnuts, Tribunali pizza, Caffe Fiore, Trader 	A bus stop is just 2 blocks away.   Easy bus access to all the sites: Lower Queen Anne, Seattle Cent	16708587	Jill	2014-06-12	Seattle, Washington, United States	i love living in Seattle.  i grew up in the mid-west but the Pacific North West has always felt like	within a few hours	67%	100%	False	Queen Anne	2	2	['email', 'phone', 'google', 'reviews', 'jumio']	True	True	West Lee Street, Seattle, WA 98119, United States	Queen Anne	West Queen Anne	Queen Anne	Seattle	WA	98119	Seattle	Seattle, WA	US	United States	47.629724131577355	-122.3694831756176	True	House	Entire home/apt	11	4.5	5	7	Real Bed	{TV,"Cable TV",Internet,"Wireless Internet","Air Conditioning",Kitchen,"Free Parking on Premises","P	None	975.0	None	None	1000.0	300.0	10	25.0	4	30	5 weeks ago	True	1	6	17	220	20	2014-07-30	2015-09-03	97	10	10	10	10	10	10	WASHINGTON	False	strict	False	False	2	1.15
*/
Invoking: `sql_db_query` with `SELECT neighbourhood, AVG(review_scores_rating) AS avg_rating FROM listings GROUP BY neighbourhood ORDER BY avg_rating DESC LIMIT 10`


[('Arbor Heights', 98.0), ('High Point', 97.75), ('Windermere', 97.5), ('Yesler Terrace', 97.45454545454545), ('Harrison/Denny-Blaine', 97.18181818181819), ('Madrona', 97.15151515151516), ('Genesee', 96.84615384615384), ('Montlake', 96.8125), ('Gatewood', 96.76923076923077), ('Westlake', 96.5)]The neighborhood with the best reviews is Arbor Heights, with an average rating of 98.0.

> Finished chain.
The neighborhood with the best reviews is Arbor Heights, with an average rating of 98.0.